[2015-03-09 03:58] kategengler opened #1 "Autocomplete autocompletes to wrong option"
http://quick.as/ardf67y video courtesy of https://twitter.com/locks/status/574779686737342464

@superlou has also seen.

[2015-03-09 04:59] #1 closed

[2015-03-12 16:43] sir-dunxalot opened #2 "Addons not reviewed yet should probably not have a red icon"
Hey, nice site!

It seems that newly published addons will suffer a disadvantage if they immediately start with 0-2 points because they haven't been reviewed yet.

Perhaps, if they start with a low score, the score icon could be gray instead of red to communicate the difference between a bad addon and a new addon?

[2015-03-12 18:41] kategengler commented on #2
Yep - Not yet reviewed addons will soon have 'NA'

[2015-03-12 18:41] kategengler commented on #2
Also addons explicitly stating that they are a WIP or incomplete will have 'WIP'

[2015-03-14 02:01] kategengler commented on #2
It's done!

[2015-03-14 02:01] #2 closed

[2015-03-14 20:38] sir-dunxalot commented on #2
Awesome! Thanks :)

[2015-03-16 18:20] caseyjenks opened #3 "Thoughts on a live demo being going into the scoring?"
I know I hate it when an addon I'm evaluating doesn't have a link to a live demo somewhere. What are your thoughts on using this as scoring criteria?

[2015-03-18 05:23] kategengler commented on #3
It's definitely on my radar but it only applies to certain types of addons and is hard to assess. I think it would only be possible once we implement self-reported reviews.

[2015-03-18 05:23] kategengler opened #4 "Contributors sometimes shows 0 when its not"
Github API is _sometimes_ returning 0 contributors for an addon. It is usually corrected by the next fetch.

[2015-03-20 05:29] runspired opened #5 "[Feature] Ranking Lists and filters"
I'd love to be able to browse and filter by score and specific review criteria.  It would also be neat to see a list by downloads, downloads in the last month, and starred.

[2015-03-21 16:11] csterritt opened #6 "Search only does titles"
Hello -- trying to track down the "ember-paper" add-on, which is an implementation of the "Material Design" thing.  And, once I get to the Ember Observer page for ember-paper, it mentions Material.  However, typing in "material" into the "Find addons" box only shows addons with the word "material" in the name of the addon.

So, clearly "ember-paper" is misnamed :-)

Perhaps an "advanced search" bu

[2015-03-21 22:27] kategengler commented on #6
Definitely on the radar but lower priority. The 'Find addons' box is probably mislabeled too, as it is more of a 'Jump to addon, mantainer or category' box.

[2015-03-28 00:55] kategengler commented on #4
We think we fixed this.

[2015-03-28 00:55] #4 closed

[2015-03-31 19:18] tim-evans opened #8 "Exposing what versions are supported via ember-try."
@kategengler is an amazing person for making this, and I think it's a great way of showing what versions of ember are officially supported for addons. I would love to see this on emberobserver.com, and have the ability to filter addons by what version of ember I'm using.

[2015-04-08 05:07] kategengler opened #9 "All addons have 0 contributors"
Potentially related to switching gems for the github api. @pgengler

[2015-04-08 13:06] pgengler commented on #9
Fixed. Sure enough it was because of the new API gem.

[2015-04-08 13:06] #9 closed

[2015-04-12 22:00] kategengler opened #10 "Addons with score of 0 incorrectly show as N/A"

[2015-04-14 22:23] #10 closed

[2015-05-05 16:51] j15e opened #12 "Update score?"
Hello,

I see a notice on my addon `New versions of this addon have been released since this review was undertaken.` which was on april 24th ; is there a way to trigger a new review?

http://emberobserver.com/addons/ember-meta-meta

Thanks

[2015-05-05 20:52] kategengler commented on #12
Hi,

The reviews are currently manual (we're working on a way for them to be self-reported), and we usually get to updated addons within 2-3 days. However I've been on vacation and so I'm a bit behind.

Best,
Katie

[2015-05-05 20:52] #12 closed

[2015-06-17 14:45] samselikoff opened #14 "Autofocus search on homepage load"
I'm used to using emberaddons.com for initial addon discovery, but I like the autocomplete widget on emberobserver.com better.

Something that would be nice is if the search box auto focused after initial page load. to support maximum laziness :D I think this is one of those small things that could push more people to use emberobserver for initial discovery in addition to deep-dive searches.

[2015-06-17 14:50] samselikoff opened #15 "Confusion re: categories + subcategories"
I ran into a slight ui confusion. When I clicked "Testing" and saw 20 addons as well as subcategories, I assumed that there were 20 addons total in all of Testing, and they were broken up among the subcategories. But then I clicked the subcategories, and saw completely new addons.

I wonder if the parent category should show all the addons, or if there's something else that can be done here to cla

[2015-06-18 02:20] kategengler commented on #14
I definitely agree! Will do asap.

[2015-06-18 02:28] kategengler commented on #15
Thanks for the feedback, its very helpful. We went back and forth on this one when we originally did it. I'll look into displaying those differently.

The options that come to mind:

1) Make it so categories that have subcategories do not also hold addons at the top level (making another subcategory "General" or "Misc") and display all the addons from subcategories at the level of the category lis

[2015-06-18 20:13] #14 closed

[2015-06-24 08:29] martndemus opened #16 "Add a category 'new' for new add-ons."
So we can find and check out newly created add-ons.
And maybe the same for recently updated?

[2015-06-27 20:36] samselikoff commented on #15
My intuition would tell me clicking on "Testing" would bring me to a list of all Testing addons. What about making the categories filter down that parent list?

[2015-07-24 00:28] kategengler commented on #8
Current plan for this is to add a key under "ember-addon" in package.json for an explicit declaration of support.

It would look something like:
[code]

Then we will support filtering & sorting based on compatibility.

[2015-07-24 10:50] urre opened #17 "Add favicon"

[2015-07-29 14:25] tim-evans commented on #8
Sounds great! The integration with ember-try is especially cool.

[2015-08-04 23:18] denzo commented on #16
Great idea!

[2015-08-17 12:28] gcollazo commented on #8
@kategengler what is the status on this? I want to use it on emberaddons.com also.

[2015-08-22 08:05] danielspaniel opened #20 "web site not working in chrome/safari"
In chrome, ember observer does not work.  Errors in console ( if you want me to copy I can, but it's easy to see yourself )
Also in Safari, home page works, but not clicking on subcategory

[2015-08-22 08:36] bianjp commented on #20
It also failed in Firefox.
But different error were reported in Chrome VS Firefox.

[2015-08-23 00:44] pgengler commented on #20
This should be fixed now. ember-inflector and the `pluralize` helper stopped working (on production builds only) after upgrading to Ember 2.0. Should be working again now.

[2015-08-23 00:44] #20 closed

[2015-08-23 00:52] danielspaniel commented on #20
Interestingly .. safari now works fine, but chrome still does this:

Error parsing 'integrity' attribute ('sha256-ZIyvu2zcvUZC2jBOPBYWO1ZQFe3TkKs8AXAPrRZvI04= sha512-j3rLn5GzcK4UvvoqWkB4N5XtaPIKWRLmqXyI0uwhlbnAILlywk7BUXbAji0uaXevYEIWt5e0rFfnhJYrITbnqw=='). The value must begin with 'ni:///'.

 a few times and leaves the page blank

[2015-08-28 07:25] danielspaniel opened #21 "comma formatted numbers"
It's a very minor thing, but I was thinking it might be nice to have comma formatted "downloads in the last month" stats .. like ( 11,000   instead of 11000 ).

[2015-09-08 23:16] elwayman02 opened #23 "Links with additional %60 added, breaking redirects"
I've encountered several addons today that have %60 added to the end of the repo url, causing the redirect to github to break when clicked.

Example: http://emberobserver.com/addons/ember-cli-number-abbr

[2015-09-09 02:58] pgengler commented on #23
This should be fixed now.

The problem was that the data from NPM for this addon included a backtick (which, when URL-encoded, is %60). Most likely this happened because the `package.json` file for the addon doesn't specify its repository URL, so NPM tries to get it from other sources, including the README.md file. In this case, the repo URL does appear, but it's part of a Markdown inline-code blo

[2015-09-09 02:58] #23 closed

[2015-09-16 14:14] pgengler opened #24 "Latest version and latest version date are not in sync"
For some addons (e.g., [ember-intl](http://emberobserver.com/addons/ember-intl) and [torii](http://emberobserver.com/addons/torii)), the last version and the date shown for the latest version aren't in sync.

This seems to be happening because the latest version is figured out from all versions, based on date/time, while the date/time is coming from the NPM data (which skips beta version).

[2015-09-18 21:49] jherdman opened #25 "Feature Request: Query Param to Filter Addon Data Set"
I use Alfred, and one feature I really like is the ability to set up custom queries. Here's a screenshot of a query for an npm package:

<img width="496" alt="screen shot 2015-09-18 at 5 49 45 pm" src="https://cloud.githubusercontent.com/assets/3300/9971916/af3fd0b4-5e2d-11e5-9d4a-49c4b4320572.png">

And here's how I have it set up:

<img width="592" alt="screen shot 2015-09-18 at 5 50 33 pm" src=

[2015-09-30 13:12] Kuzirashi commented on #8
:+1:

[2015-10-03 23:18] philipbjorge opened #26 "How are packages added to emberobserver?"
I just created/published a package and was wondering how they get added to ember observer?

https://github.com/philipbjorge/ember-cli-typescript-compiler

[2015-10-03 23:21] kategengler commented on #26
Addons get picked up hourly from npm. The reviews and categorization are still done manually, we usually get to it within a few days but lately its taking ~ a week.

[2015-10-13 16:00] #26 closed

[2015-12-08 19:48] null-null-null opened #27 "Addons fall out of sync with maintainers who change their email address"
At least, I'm assuming that's what happened.

I have five addons on Ember Observer, two from after I changed by email address on github and npm to `null@ember.theater`, and three from before. If you visit one of the new ones (such as [ember-dynamic-stylesheets](http://emberobserver.com/addons/ember-dynamic-stylesheet)) and click the maintainers link, you'll see just the addons I've started since t

[2015-12-09 04:50] kategengler commented on #27
Thanks for bringing this up. We've noticed this before but never really dug in. I think we can fix it by going of npm username rather than email addresses.

[2015-12-17 06:26] blessenm opened #28 "Getting redirected to not-found page"
I just tried browsing through the addons and I cant seem to get any of the addon pages. When I click on an addon from a category I get redirected to the 'not-found' page.

Even when I try to go to a url like `http://emberobserver.com/addons/ember-cli-document-title`, I get the same result.

[2015-12-17 06:38] kategengler commented on #28
What browser/OS? I haven't seen this happen so I wonder if it's environment dependent.

Going to '/not-found' is the `error` action on the addon/show route. Can you use the Ember Inspector to see if any promises rejected?

[2015-12-17 06:49] blessenm commented on #28
Im sorry. I should've investigated first. I see that my companies websense proxy is blocking the api call to http://emberobserver.com/api/addons?name=ember-cli-document-title. So I think the code fails as the proxy is returning html when its expecting json.

But the web page and other api calls are working fine so I wrongly assumed something maybe wrong with the app. I am closing this issue.

[2015-12-17 06:49] #28 closed

[2015-12-17 06:53] kategengler commented on #28
No problem, it's definitely odd that that one request would be different. I guess the proxy could treat it differently because of the querystring.

[2015-12-28 21:56] #27 closed

[2015-12-28 22:04] pgengler commented on #27
This should be fixed now. The NPM maintainer stuff is now based just on username, instead of username+email address.

[2016-01-04 18:09] null-null-null commented on #27
Thanks for working on that over the holidays! Everything seems to be working now.

[2016-01-13 10:27] Sinled commented on #25
+1 to this feature,
it would be handy to have addons search right in alfred

[2016-01-14 18:03] kategengler commented on #17
We now have a favicon!

[2016-01-14 18:03] #17 closed

[2016-02-27 20:49] knownasilya opened #29 "Default Badge"
Would be awesome if the badge could render a badge that says `ember observer | ...` or something similar for addons that haven't yet been processed completely.

[2016-02-28 14:04] pgengler commented on #29
There is a default badge for addons that haven't been reviewed yet; it shows 'n/a' in place of the sore and looks like this:
![Ember Observer N/A badge](http://images.pgengler.net/ember-observer-na-badge.svg)

[2016-02-28 14:04] #29 closed

[2016-02-28 21:47] knownasilya commented on #29
I mean't more like if the addon hasn't made it to the system. For example: I published `ember-inline-component` yesterday, and the badge only showed up a few hours later. In the mean while, it was a broken image.

[2016-02-29 03:39] kategengler commented on #29
It should be no more than an hour from publish -> badge (the frequency we pull from npm).

[2016-03-01 15:56] chuygb commented on #3
I support a point id a live demo exists, or at least some examples
1 point working examples (this could be a field with a URL so you give the point when URL is added)
with a button to report is examples don't work.
1 point for working DEMO  (this could be a field with a URL so you give the point when URL is added)
with a button to report is DEMO don't work.

[2016-03-01 15:59] chuygb commented on #3
Also a star system for user given reviews. So points are given to understand how complete the solution is. Stars on users objective review

[2016-03-15 02:18] jhr007 opened #31 "Search's typeahead/autocomplete breaks the web"
The TL;DR:
I just want to "open-in-new-tab" addons shown in the search's type-ahead.

My user-experience...
I type something in the search box... the search feature shows a filtered list...  and I find a few addons match my intentions. I then middle-click an addon's line to open it in a new tab... but it doesn't open in a new tab. :sob:

:grin:  "Breaks the web" is a tongue-in-cheek jab... I reall

[2016-03-15 02:25] pgengler commented on #31
This is something we're going to be fixing soon. The autocomplete box wasn't originally intended to be used as a search, just a helper, so the current behavior made sense, but as you noted, it doesn't seem to make sense any more.

[2016-03-15 03:48] jhr007 commented on #31
:grinning:
I guessed this was this case... Mostly created the ticket to make it explicit. I also noticed, pressing enter after typing chose the first search result instead of going to a search page.
:+1:

[2016-03-25 02:03] kategengler commented on #31
Just deployed a new search-ish thing that has results w/ a url.

[2016-03-25 02:04] kategengler commented on #25
emberobserver.com/?query=foo now works.

[2016-03-25 02:07] kategengler commented on #16
Not really a category but just deploy http://emberobserver.com/lists/new-addons

Recently updated is less useful because certain addons dominate that list since they release nearly daily.

[2016-03-25 02:08] kategengler commented on #6
Just deployed with a new search that looks at descriptions too. Also working on an advanced search with full-text searching of Readmes.

[2016-03-25 03:31] jherdman commented on #25
You da best! Many thanks!!!

[2016-03-29 18:14] #25 closed

[2016-03-29 18:15] #31 closed

[2016-03-29 18:16] #16 closed

[2016-03-29 18:16] #6 closed

[2016-03-30 00:55] nathanhammond commented on #14
@samselikoff This change was reverted in a recent release for reasons of accessibility. Setting focus to that field on first load interrupts the default expected behavior for assistive tech users.

[2016-03-31 14:26] SirZach opened #35 "can't search on a search of less than 3 characters"
I was searching for d3 ember addons and the search/filtering doesn't kick off until the search has 3 characters or more. That's probably done as an optimization but maybe if the user explicitly hits the return key the search should fire regardless of how many characters there are. Thanks!

[2016-04-05 23:02] elwayman02 opened #36 "Score for having more than 1 contributor includes `Tomster` commits"
Any addon generated from the ember-cli blueprint will automatically receive a point for having more than 1 contributor, since it registers the initial commit as coming from [ember-tomster](https://github.com/ember-tomster). This devalues that particular part of the scoring system, although pointing it out will hurt the scores on several of my addons, heh... =P

[2016-04-06 01:22] kategengler commented on #36
Good catch. Looks like this happened relatively recently when that account was registered. Totally explains a jump in points that I hadn't had a chance to look into yet.

[2016-04-06 03:48] pgengler commented on #36
This should be fixed now.

[2016-04-06 03:48] #36 closed

[2016-04-20 02:17] elwayman02 commented on #36
@kategengler @pgengler at the risk of once again hurting my own scores (heh), I must point out that `greenkeeperio-bot` is not a real contributor:

https://github.com/elwayman02/ember-user-activity/graphs/contributors
https://emberobserver.com/addons/ember-user-activity

The solution might be to just keep a whitelist of bot contributors that includes Tomster and other known bots...I'm not sure.

[2016-04-20 02:18] elwayman02 commented on #36
Either that, or this is a continued indication that there isn't a lot of value to basing a binary score on whether a project has 1 contributor or 2+...perhaps reevaluating that part of the scoring system would make more sense than continuing to try and fix it.

[2016-04-20 03:10] kategengler commented on #36
Filtering out one bot already; might as well make it two.

The scoring based on # of contributors is supposed to be a proxy for sustainability (bus factor). A lot of options to solve this long term: we could up the # of contributors or maybe check for # of repeat contributors or any number of other things.

[2016-04-20 04:17] elwayman02 commented on #36
Maybe commit activity as a factor of time? I've known several projects that have 2 contributors that have far less sustainability than some 1 contributor projects. I know that's a contrived example to an extent, but I think something like # of commits or # of releases scaled to the lifetime of the project could be a better metric?

[2016-04-20 04:20] kategengler commented on #36
It's really meant to be a proxy for sustainability in the sense that individual contributors get burnt out (I should know), change jobs, etc. It's also a proxy for whether or not the addon is being collaborated on.

Activity is a different proxy and that's done with the # of commits in the last 3 months and the # of releases in the last 3 months.

[2016-05-11 00:54] amyrlam commented on #35
Hi - I'd like to work on this! I think it's here, thinking <= 2 would make sense?

https://github.com/emberobserver/client/blob/f41687bdca5d6fdacc3056f7fb18be2f1cb8932e/app/components/page-layout-with-search.js#L26

[2016-06-02 06:39] fogisland opened #38 "Can not run server with error: 'connect ECONNREFUSED 127.0.0.1:3000'"
Seems like I need run another node server as backend?

[2016-06-03 06:38] fogisland opened #39 "What is the purpose of 250ms delay before every search?"
Why  `yield timeout(250)` ? Thanks!

[code]

[2016-06-05 15:49] kategengler commented on #39
It's effectively a debounce with ember-concurrency. http://ember-concurrency.com/#/docs/examples/autocomplete

[2016-06-05 15:50] kategengler commented on #38
The server isn't open source (yet). To run in development, either enable mirage or proxy to emberobserver.com for a backend.

[2016-06-06 02:03] fogisland commented on #39
Thanks!

[2016-06-06 02:03] #39 closed

[2016-06-06 02:04] fogisland commented on #38
Thank you!

[2016-06-06 02:04] #38 closed

[2016-06-06 12:46] simenheg opened #41 "Initial load slow in Firefox"
When entering https://emberobserver.com for the first time in Firefox, a white page is shown for 15-20  seconds. A reload of the page shows a white page for 5-6 seconds.

This problem is not as severe in Chrome, where the white page is only visible 2-3 seconds, for both the initial load and on reloads.

[2016-06-29 20:20] patrickberkeley opened #42 "Feature request: Flag fastboot compatible addons"
I'm not sure if there's an easy way to do this, but it would save a lot of time to know which addons are fastboot compatible and which are not.

[2016-08-06 21:12] pgengler commented on #21
Fixed!

[2016-08-06 21:12] #21 closed

[2016-08-18 13:12] mschinis commented on #42
👍  on this one. makes sense to have a point for fastboot compatible addons.

[2016-08-23 11:02] TheFragen opened #46 "Can't view addon-pages on IE11"
Hi,

When clicking a link that leads to an addon-page, the page comes back blank. The main page (overview with search) does work, but when clicking an addon, a new page with the search bar and the text "Results for "" " is shown. For what it's worth, here's the source:

``html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ember Observer</

[2016-08-23 18:04] kellyselden opened #47 "A point for a recent ember-cli version"
Just thought of this. Motivating addons to be up to date on ember-cli versions would be awesome.

[2016-09-08 16:44] danwenzel commented on #35
+1 to this.  Any updates?

[2016-09-08 16:53] danwenzel opened #48 "Hitting back button loses results"
Steps to repro:
- enter a search term
- click into a result
- click an external link from the result page, like the link to the github repo
- click 'Back' to return to the result
- click 'Back' again to return to the list of results

Expected:
You should still see the list of results

Actual:
Although the search term is still in the input, and in the URL query params, the page is in the "No result

[2016-10-13 10:50] adam-knights opened #56 "Updated addon queue"
We got a really fast initial review of https://emberobserver.com/addons/ember-material-design-datepicker, but then none since. I imagine this is because there is a large backlog? A couple questions and suggestions about the 'queue'.

1) When we publish a second update, before you have reviewed the first update, do we maintain our place in the queue, or get put to the bottom again?

2) Could we get

[2016-10-18 03:29] sivakumar-kailasam commented on #26
@kategengler is the process still manual? If so, it might probably help to add info on the review timeframe in the _what's this_ section when scores are at NA. My [addon](https://emberobserver.com/addons/ember-purify) has been published 8 days ago and I've been since waiting and it would've helped to see this info on the ember observer site.

[2016-11-03 11:49] xcambar commented on #35
A PR has been created, see #57.

Let's hope it will be merged or at least start the discussion with the team.

[2016-11-03 21:54] kellyselden opened #58 "show threshold values in < 10% calculations"
[code]

It would be nice to know what the 10% values are, to see how far away you are.

[2016-11-17 17:51] sivakumar-kailasam opened #59 "Copy to clipboard"
Having a copy to clipboard button next to the `ember install` commands might be nice to have. If you feel so as well then give a 👍 & I'll send out a PR.

[2016-12-06 21:48] ssriera commented on #35
Could we get PR #57 merged? I also was searching for a D3 addon and the app was unresponsive.

[2017-01-06 17:29] danwenzel commented on #48
Looks like this issue is no longer occurring

[2017-01-06 17:29] #48 closed

[2017-01-17 14:22] iivvoo opened #64 "No feedback if no matches"
There's no feedback if there are no matches (or if the query is too short). You do get results however (the top addons) which makes the interaction confusing.

[2017-01-19 22:54] sedouard commented on #56
+1 On this. Seems like reviews are all manual and nobody's getting around to doing them. Is there no automated, pre-review, score?

[2017-02-15 21:29] eccegordo opened #66 "Feature request: changelog metric"
One of the technical hurdles that plagues a lot of novices is the dependency management hurdles when upgrading.

To that end it would be great if Ember Observer could help incentivize addon community to put more effort into coherent changelogs.

Ember CLI is the gold standard for this with their releases page.

https://github.com/ember-cli/ember-cli/releases

Other ideas:
- compatibility matrix in

[2017-02-16 14:56] kategengler commented on #66
We've considered using the presence of a Changelog as point. Format and content would be a bit hard to manage -- we try to keep everything automated, and while format might be possible to automate, it would probably be resource-intensive.

Ember Observer already does run `ember-try` scenarios for the top 100 addons, in an attempt to generate compatibility matrices for them. We have plans to extend

[2017-02-16 21:30] eccegordo commented on #66
Yeah good point about the automation. Maybe the answer is some clearly identified hook or well defined pattern of content/format that is easy for ember observer to detect and parse.

Maybe even publish the changelog on the ember observer website, like you do the readme.

I am not too concerned about the exact content, or "gaming the ratings". Have to trust people will do the right thing. Giving it

[2017-02-16 21:48] kategengler commented on #66
Parsing the changelog file for each addon for a particular format would be a bit much. Checking for the presence of a changelog is definitely reasonable though.

We considered subtracting from the score but disregarded the idea. If we add more criteria, there will be points for doing them correctly but not removed for doing things the "wrong" way. Those addons will still have a lower score than ot

[2017-03-03 12:33] simonihmig commented on #42
I would strongly support that, having gone through the pain to make an app run in FastBoot, quite a lot of that work was fixing 3rd party addons (including my own 😝). So seeing compatibility adds some real value to the addon selection process. Btw, stumbled upon this already existing issue after a recent discussion on this topic on Slack with @cibernox and @locks.

For testing addons in FastBoot,

[2017-03-27 17:38] kategengler opened #69 "Use ember-router-scroll addon instead of scrollFix mixin"
To maintain scroll position when navigating between routes.

https://github.com/dollarshaveclub/ember-router-scroll

[2017-03-27 17:53] kategengler opened #70 "Don't display Readme on addons that have invalid github repo"
Don't display Readme on addons with `addon.hasInvalidGithubRepo` flag as true

[2017-03-27 17:58] kategengler opened #71 "Don't display repo url when addon has been marked as having invalid github url"
Don't display the repo url when addon has been marked `addon.hasInvalidGithubRepo`

Display help icon with message: "This addon has an incorrect repo url in it's package.json: <repo url from package.json>" (`addon.repositoryUrl`)

[2017-03-27 18:00] kategengler opened #72 "Add loading routes"
Add loading routes so there will be feedback when transitions take awhile. (See visiting a category from the index).

[2017-03-27 21:57] #70 closed

[2017-03-27 22:23] #71 closed

[2017-03-28 23:55] kategengler commented on #69
Fixed by #74

[2017-03-28 23:55] #69 closed

[2017-03-28 23:56] kategengler commented on #72
Fixed by #77

[2017-03-28 23:56] #72 closed

[2017-05-07 18:12] jherdman commented on #41
Is this still true? I checked FF Developer Edition and everything seemed okay today.

[2017-05-07 22:37] kategengler commented on #41
Correct -- this should have been fixed by a combination of move to smaller API requests + benefits of newer ember versions.

[2017-05-08 07:12] simenheg commented on #41
Hi. I just retested this with Firefox 53 and I think you're right, it's much faster now. Thanks.

[2017-05-08 07:12] #41 closed

[2017-05-19 05:51] bcoe opened #83 "you're accidentally DDoSing api.npmjs.org every hour"
first off, https://emberobserver.com is really cool 😄 it's awesome to see people building such slick things on top of the npm registry.

_unfortunately_, your website was brought to my attention because your ip seems to be accidentally DDoSing api.npmjs.org every hour or so.

<img width="1035" alt="screen shot 2017-05-18 at 10 43 45 pm" src="https://cloud.githubusercontent.com/assets/194609/262347

[2017-05-21 15:27] kategengler commented on #83
Oops, very sorry about this 😳 and sorry for the slow reply. I saw the issue but was traveling and unable to respond. We've already begun working on fixing this.

My pedantic side (aka @pgengler) wants to point out that it isn't a **D**DoS since we only have the one server 😝

[2017-05-22 00:09] kategengler commented on #83
@bcoe We've deployed the fix for this. Please let us know if everything now looks alright from your end.

[2017-05-22 06:23] bcoe commented on #83
@kategengler thanks for getting to this so fast -- nothing to be sorry about; mainly I'm glad I was able to find your website from the IP address in our logs, so that I didn't end up blocking you. The graphs are looking much better:

<img width="985" alt="screen shot 2017-05-21 at 11 20 53 pm" src="https://cloud.githubusercontent.com/assets/194609/26294991/58b2220c-3e7c-11e7-890e-8781119d27ec.png"

[2017-05-22 06:23] #83 closed

[2017-05-22 14:47] kategengler commented on #83
Thanks again for letting us know. That code has been doing the same thing since we started 2 years ago, so I guess the rework brought it to light. Have a nice week 😃

[2017-05-25 15:41] simonihmig opened #84 "Revise sort criteria for Top addons"
I would suggest to overthink the sorting criteria for the Top 10 / Top 100 list.

Currently the list seems to be sorted by download count (ok, first probably by score, but most addons in the Top 100 have a ten, so that does not matter much). The problems with download count are
* it doesn't express actual user appreciation accurately, the vast majority of downloads certainly come from CI runs rath

[2017-06-24 00:33] kategengler commented on #84
Correct, it currently sorts by score, download count in the last month. I agree download count is an unideal metric, but github stars also have problems. Github stars hardly ever decrease, so the place in the top 100 would be dominated by the oldest repos, rather than those with momentum.

One plan I have is to remove the addons that install by default from the top list into a separate list. I als

[2017-06-24 00:37] kategengler commented on #56
Reviews are not entirely manual, only two questions are. Most addons should be reviewed within 2 days of publishing, re-reviews within a week, if not, please use the link on the addon page to 'Submit a correction', sometimes we miss an addon on accident.

To answer the questions:
Second updates get put to the bottom again, but the queue is emptied very often so this should not be an issue.
I will

[2017-06-24 00:39] kategengler commented on #46
I believe this is fixed.

[2017-06-24 14:46] simonihmig commented on #84
Good point! Agree that it has its drawbacks, but still as a short-term solution (that is *presumably* easy to implement) I think it would still be a relevant improvement!?

[2017-06-24 14:49] kategengler commented on #84
I don't agree. It would be dominated by older addons that aren't necessarily good recommendations at this point.

[2017-06-24 15:02] simonihmig commented on #84
@kategengler Is that really true? Is there a way to see how that list would look like?

When I wrote this issue I checked the mentioned addons *I* would expect to see in the Top 10 (like e-concurrency, liquid-fire, mirage, e-i18n), and they indeed had very high star counts. Do you have any examples of such older addons with high scores that you would not "like" to see at the top (very subjective o

[2017-06-24 15:10] kategengler commented on #84
Looking at the list of addons sorted by Score, Github stars, the top 10
would not include any of the ones you listed. I have also considered
curating the top 100, but honestly wouldn't ever consider sorting by Github
stars.

On Sat, Jun 24, 2017 at 11:02 AM, Simon Ihmig <notifications@github.com>
wrote:

[2017-06-24 15:13] simonihmig commented on #84
You see that in your internal database, or how? There is no way to see this by myself, right?

[2017-06-24 15:14] kategengler commented on #84
Database; it's not something available through the API.

[2017-06-24 15:23] simonihmig commented on #84
@kategengler Ok, closing this then. Thanks for your feedback anyways, appreciate it! Hope you can come up with something better! 😉

[2017-06-24 15:23] #84 closed

[2017-06-26 02:08] thefonso opened #87 "color label legend is needed"
would be nice to know what the different colors mean in a small legend that appears on all pages (or at least the front page)

[2017-07-27 22:00] lifeart opened #88 "Unable to open addon with `.js` postfix by direct link"
https://emberobserver.com/addons/loader.js

[2017-07-28 17:43] kellyselden opened #89 "Code search: link to actual file"
maybe even line number would be cool

[2017-07-28 17:44] kategengler commented on #87
The colors correspond with the numerical score ... I don't think they are ever displayed separately. There is a description of the score on the about page and also near the score on an individual addon page.

[2017-08-26 13:01] chriskrycho opened #90 "Keyboard shortcut to focus search bar"
A number of sites I use regularly have keyboard shortcuts for focusing the search bar. For example: the Rust [std](https://doc.rust-lang.org/std/) docs and [docs.rs](https://docs.rs/clap/2.26.0/clap/) both use `s` to focus the search bar. A few other sites I've seen use `/` for the same. It would be *delightful* if Observer did likewise.

I'm happy to submit a PR for it... but I'm [rather busy els

[2017-08-28 01:12] #89 closed

[2018-01-25 14:20] FutoRicky opened #97 "Are reviews working?"
I've noticed that some addons haven't been reviewed for months. For example https://emberobserver.com/addons/ember-cli-dropzonejs hasn't been reviewed since August 2017 even though multiple new versions have been released.

[2018-02-18 22:35] mmun opened #99 "Feature request: Sort code search by updated/score"
Currently the code search lets you sort by name and number of usages. It would also be useful to sort based on score and updated like in the regular addon search.

[2018-02-19 00:25] kategengler commented on #99
I've often wanted this too -- fortunately I think it can be done completely client side with what is already there.

[2018-02-19 19:07] mmun commented on #99
I see you also have access to the number of downloads. It seems like that metric might be the best one. How would you feel about adding all three?

[2018-02-19 19:24] kategengler commented on #99
The score incorporates the # of downloads, so it's represented. Using the downloads as a metric are a necessary evil, but I don't really want to encourage it (addons from large companies, those with frequent publishes can be way ahead in the download count even though they are used by a small # of projects)

[2018-02-19 19:30] mmun commented on #99
@kategengler Gotcha!

[2018-02-28 17:16] tomwayson commented on #56
visibility into the queue, or at least documentation of how it works would be helpful. All of [our addons](https://emberobserver.com/?query=arcgis) still appear as WIP b/c they were initially in private repos, but we've since open sourced most of them and had a few minor version releases.

For example, see: https://emberobserver.com/addons/ember-arcgis-portal-services
If you [view that on npm](htt

[2018-03-05 01:07] kategengler opened #103 "Improve scroll position UX of sorting & filtering on Code Search"
Use https://github.com/dollarshaveclub/ember-router-scroll/#preservescrollposition-with-queryparams to preserve scroll position when sorting & filtering on /code-search

[2018-03-06 00:48] kategengler opened #104 "Stuck on ember-data 2.13"
I had to put ember-data back down to 2.13 because any version >= 2.14  (tested 3.0, ember-data master as of 3/5/2018) causes a double-render error about modifying `sortedTopLevelCategories` twice in a single render, found in category-finder component. Even if all sorting, filtering, etc is removed, the problem persists.

The error does not happen in tests, only when pointing to production API, eit

[2018-03-12 22:04] elwayman02 opened #106 "Thinks github repo is invalid, but displays proper readme and url???"
See example: https://emberobserver.com/addons/ember-interactivity

<img width="1321" alt="ember-interactivity_-_ember_observer" src="https://user-images.githubusercontent.com/1325482/37312040-b91a401c-2606-11e8-9a22-c7e0b266b2f7.png">

[2018-03-12 23:30] elwayman02 commented on #106
The issue seems to have resolved itself since I posted it, possibly when it detected a new commit this afternoon? Perhaps there is a bug where EmberObserver does not detect the Github info once a score has been posted, until there are new commits made to the addon's repo?

[2018-03-13 06:57] kategengler commented on #106
Nah, @pgengler fixed it by hand 😆

But he also has a fix for the root cause, which was a backend bug in the translation of repo url to what we need to fetch from github.

[2018-03-13 07:23] elwayman02 commented on #106
Thank you!

[2018-03-14 05:52] kaermorchen opened #107 "Searching find addon only by addon name"
I noticed, if an addon has keyword in description or keywords fields of package.json, it won't be show in result, but if the addon has keyword in the name, it will.

Maybe best result of searching will be if to use description or keywords fields too.

[2018-03-14 17:21] elwayman02 opened #108 "Some Ember-Data addons seem miscategorized"
Example: https://emberobserver.com/addons/ember-data-github

It's under "Ember Data Extensions", and if you look at the list, it stands out as being unlike the rest:

https://emberobserver.com/categories/ember-data-extensions

Whereas all the other addons actually extend Ember-Data's functionality, Ember-Data-Github actually provides an abstraction layer for interfacing with the public GitHub API.

[2018-03-29 00:57] kategengler commented on #107
The search on the main page emberobserver.com does search description. The search in the header isn't really a search, but a jump-to-addon with the ability to trigger a full search. The main search can also search the full text of Readme.

[2018-05-11 17:17] kaermorchen commented on #104
I try to reproduce (step by step) and all tests are green, but application doesn't have any models.

![2018-05-11_20-12-54](https://user-images.githubusercontent.com/11972062/39937354-1a8de24c-5558-11e8-9780-9121799b1c85.png)

Do I something wrong?

[code]

[2018-05-12 08:43] kaermorchen commented on #104
Looks like the problem with links in relationships of category model.

Check this [commit](https://github.com/kaermorchen/client/commit/45f603f235abd7d724d15a46a84cdc73b22818e5#diff-0617019b3e365aee57fb3492101f579f)

Index page don't has any errors. But has too much warnings like `WARNING: You pushed a record of type 'category' with a relationship 'parent' configured as 'async: false'. You've incl

[2018-05-12 17:14] kategengler commented on #104
The backend is using the jsonapi-resources gem, latest version, to provide the API.

Those warnings don't hurt anything (hence _may_ be an error).

I believe there is a change in ember-data post 2.13 that causes the issue I found.

[2018-05-13 05:58] kaermorchen commented on #104
I agree.

Can option [always_include_linkage_data](http://jsonapi-resources.com/v0.9/guide/resources.html#Relationships) help us?

[2018-05-26 10:49] pgengler commented on #88
Sorry this took so long but it's fixed now.

[2018-05-26 10:49] #88 closed

[2018-05-30 21:49] samselikoff opened #110 "Code search expansion arrow/menu seems broken"
When I visit https://emberobserver.com/code-search?codeQuery=createBuilder and try to click the arrow next to "10 usages", I can't see the data.

[2018-05-31 00:44] kategengler commented on #110
Thanks for letting me know about this, should be fixed now.

[2018-05-31 00:44] #110 closed

[2018-05-31 13:52] samselikoff commented on #110
Looks great! Thanks 👍

[2018-06-08 04:51] kaermorchen opened #111 "Roadmap"
Hello.

Which features/fixes/refactoring is planned for the emberobserver? I want to help some of this.

I mean refactoring to flexbox (or Bootstap 4), replace from font icons to svg icons, ect.

[2018-06-13 09:13] vladucu opened #112 "Newish addon showing as no Github info available"
Hi,

Thanks for Ember Observer!

We've published a new addon a while ago and while it shows on Ember Observer, it mentions that *No Github info is available, so 3 of the available points could not be evaluated. Is the repo url correct in the package.json?*
<img width="1085" alt="screen shot 2018-06-13 at 12 12 07 pm" src="https://user-images.githubusercontent.com/160955/41341712-0db1da32-6f03-11e8

[2018-06-30 23:45] samselikoff opened #114 "Code search links broken"
For example, https://emberobserver.com/code-search?codeQuery=quick-temp and click on a file.

I believe `.git` needs to be removed from the URL

[2018-07-09 20:34] #114 closed

[2018-07-10 18:37] #107 closed

[2018-07-10 18:38] #106 closed

[2018-07-15 05:38] kategengler opened #116 "Upgrading ember-cli-mirage to 0.4.7 causes test to fail"
From 0.4.1 -> 0.4.7 causes "displays appropriate text when an addon's test result indicated a failure" test to fail

@pgengler

[2018-07-15 05:54] kategengler commented on #104
Tried out ember-data 3.2. I didn't see this problem but instead, on the index page, it attempts to load the `parent` relationship for each category, even though that relationship is marked as `async: false`

[2018-07-15 13:17] pgengler commented on #116
Fixed. https://github.com/emberobserver/client/commit/0557e3dd2be219110da15eceef32b9c526ede22c

[2018-07-15 13:17] #116 closed

[2018-07-16 04:16] kategengler opened #117 "Create a complete mirage config & default data setup so that app is easier to work on"
It is easy enough to work on for the moment for the read-only portion of the app, at least when proxying to emberobserver.com, but harder to work on the admin UI, code search and other interactive parts.

[2018-07-16 04:17] kategengler opened #118 "Move to flexbox from neat (grid system)"

[2018-07-16 14:45] yohanmishkin commented on #118
Ahoy! I can take a stab at this.

[Here's](https://github.com/emberobserver/client/search?q=span-columns&unscoped_q=span-columns) where I'm seeing neat usage. Does that sound right to you?

[2018-07-16 17:47] kategengler commented on #118
Hey! Those are the correct files but there are many more usages within those files. Looking forward to your PR :)

[2018-07-17 02:22] ef4 opened #119 "Code search results repeated for monorepos"
[This search](https://emberobserver.com/code-search?codeQuery=dependencies&fileFilter=index.js) matches two addons that appear in the [cardstack monorepo](https://github.com/cardstack/cardstack). But the results are repeated once for every other package in the monorepo, which spams the search results.

[2018-07-19 20:04] kategengler commented on #119
Unfortunately, we have no good way to handle monorepos. The code search relies upon an index built from on-disk files, so we literally clone the repo pointed to by every addon [http://codeallday.com/blog/how-ember-observer-searches-addon-source-code/](http://codeallday.com/blog/how-ember-observer-searches-addon-source-code/)

Monorepos also have incorrect stats for stats from GitHub such as issues

[2018-07-19 21:30] ef4 commented on #119
Seems like a reasonably self-contained issue for a motivated new contributor: after cloning, go find the package.json that has the right name in it, and use that as the root directory for the code indexing.

Most of the time you'll find the right package.json immediately at the root, but in a monorepo you'll search around a bit until you find it.

[2018-07-20 15:08] kategengler commented on #119
It's a little more complicated than that: It would require a bit of an architecture change for the code search feature. We clone all the addons into a directory and **remove** any files we don't want to index (no option for excludes for `cindex` from `google/codesearch`. Nightly, new addons are cloned but existing addons are updated through `git pull`.

`cindex`, in theory, takes many args of all

[2018-07-20 15:21] ef4 commented on #119
Ah, I see. Indexing runs all at once across all addons. So this would require changes to how the indexing process itself maps files to packages.

[2018-07-20 16:21] danwenzel opened #121 "Show if an addon includes Bower dependencies"
Bower has been deprecated for quite a while now, but many addons still have Bower dependencies.  This is a deal-breaker for those of us who have removed Bower completely from our app builds.

What do you think about somehow pointing out whether an addon is using Bower when viewing it on Ember Observer?  It could either lower the score, or be some kind of separate badge element.

[2018-08-26 05:45] kaermorchen commented on #118
Why not to move to other grid system which based on flexbox (like bootstrap 4)?

[2018-08-26 15:15] kategengler commented on #118
Because we don't need a grid system -- with the work @yohanmishkin did, there's likely only 1-2 places left that neat is used.

[2018-09-02 04:12] yohanmishkin commented on #118
I think we're close!

The remaining work here will be checking for any other usage of variable, mixins, functions, etc. noted [here](https://neat.bourbon.io/docs/1.7.1/).

[2018-09-07 03:56] samselikoff opened #130 "How might I find all addons that depend on my addon, even in devDependencies?"
How might I find all addons that depend on my addon, even in devDependencies?

Might be a cool feature to add to the UI at some point. My use case right now is to find all addons using Addon Docs.

The "Dependents" tab over on [npm](https://www.npmjs.com/package/ember-cli-addon-docs) is close, but I think it only looks at `dependencies` and not `devDependencies` (which makes sense).

[2018-09-12 04:12] kategengler opened #131 "Readmes are broken"

[2018-09-12 04:14] kategengler commented on #130
We've been gathering this data and this feature will be a side effect of something @lonelyghost is working on 😀

[2018-09-12 12:37] pgengler commented on #131
Seems to be a problem with showdown's handling of the style of the image tags in the README. Reported as https://github.com/showdownjs/showdown/issues/585

[2018-09-13 04:00] kategengler opened #132 "Filter code search to a particular addon"
h/t @lonelyghost

[2018-10-25 20:21] #97 closed

[2018-11-15 22:07] caseywatts opened #136 "Track Code of Conduct"
I was just doing a survey of these with a coworker and discovered that 9/10 of the most popular addons do not have a Code of Conduct. It would be really impactful if Ember Observer tracked this :)

We made a quick gist of what we found:
https://gist.github.com/caseywatts/078c3e3c27639514ba3e5a9e50b7521a

Two ideas
- link to the code of conduct directly from the addon's show page
- incorporate pres

[2018-12-14 11:31] #112 closed

[2019-02-25 14:26] efx opened #140 "site is down"
Seems like some 502 errors have caused the site render blank.
<img width="1428" alt="screen shot 2019-02-25 at 09 20 16" src="https://user-images.githubusercontent.com/472721/53343895-68e1c600-38df-11e9-8a98-03594cd10d67.png">

[2019-02-25 14:31] pgengler commented on #140
Thanks for letting us know...should be back up now, and we'll check on why our monitoring is failing.

[2019-02-25 14:31] #140 closed

[2019-02-26 09:07] Windvis commented on #140
I'm still getting the errors. I don't think it's fixed yet (or it happened again).

[2019-03-08 15:27] kategengler opened #146 "Make tests with static data specifically for Percy"
Some tests have dynamic data from factories that are causing visual diffs that aren't consequential

[2019-03-09 04:18] kategengler opened #148 "Add ability to link to sections within an Addon"
Be nice to be able to link to Readme, Review, Score, Dependencies, etc

[2019-04-16 17:40] kategengler opened #155 "Add TrackJS badge to footer"
This badge needs to be added to the footer of the app so we can continue to use TrackJS for Error Reporting:

[code]

[2019-04-16 22:12] lisaychuang commented on #155
Me! I'll take a look at the readme now to fork & create a PR for this

[2019-05-26 22:23] shankarsridhar commented on #121
+1 on lowering scores for using bower.

[2019-05-26 22:33] shankarsridhar opened #160 "Direct hyperlink to addon's Open Issues, Forks, Starred and Contributors in github"
Currently, an addon's Open Issues, Forks, Starred and Contributors (from github) are displayed as numbers. It'll be nice to add links to them, for a better user experience. That is, make the numbers as links.

Screenshot for additional context:

![image](https://user-images.githubusercontent.com/4473214/58387890-99fb9080-7fcb-11e9-8a06-cf1f2aa33ea6.png)

[2019-05-26 22:35] shankarsridhar commented on #148
@kategengler . I'll be happy to send a PR for this, if you can give me some more specifics please. Thanks.

[2019-05-27 03:36] kategengler commented on #148
The addon page has a number of headings (listed in my original description). It'd be nice to have the ability to link to within those sections.

This should be possible with this html feature: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#Linking_to_another_section_on_the_same_page

[2019-06-30 20:48] shankarsridhar commented on #148
@kategengler
I am thinking of adding an anchor tag after each of the headings that needs linking to, in the `..app/templates/addons/show.hbs`, similar to how its done in the example link you gave, in your reply.

that is, something like below:
![image](https://user-images.githubusercontent.com/4473214/60401950-b2684900-9b3d-11e9-87df-bc9db23d370d.png)

What do you think ?

[2019-07-01 05:34] kategengler commented on #148
That'd be great! Though maybe a bit smaller.

[2019-07-01 23:34] shankarsridhar commented on #148
Thanks for the clarifications @kategengler . I've sent a PR for the same - https://github.com/emberobserver/client/pull/165

[2019-07-01 23:45] shankarsridhar commented on #160
@pgengler What do you think ? 😃

[2019-07-02 00:12] kategengler commented on #160
🤔 This would be nice but it is more complicated than it seems -- it would need to parse out the repo from whatever format is in repositoryUrl (whatever the package uses in package.json) and will need to account for addons that are missing that value or have incorrect values (marked hasInvalidRepositoryUrl).

[2019-07-02 20:16] kategengler opened #166 "Use ember-test-assets addon or similar to handle 404 images in test suite"
Use ember-test-assets addon or similar to handle 404 images in test suite

https://github.com/san650/ember-test-assets

[2019-11-30 14:24] #111 closed

[2019-12-19 16:02] kategengler commented on #155
This is done!

[2019-12-19 16:02] #155 closed

[2020-05-20 15:32] noahthorn opened #183 "Sort buttons on category pages are broken"
The default sort-by score works, but the "Name" and "Updated" don't switch to different sorts.

Replicated on Chromium and Firefox @ this link: [Authentication](https://emberobserver.com/categories/authentication).

[2020-05-20 18:11] kategengler commented on #183
@noahthorn Good catch! It looks like there aren't any tests for this area. Any chance you'd like to investigate this issue or add some failing tests?

[2020-05-21 01:00] noahthorn commented on #183
@kategengler I can give it a go!

[2020-05-21 16:38] noahthorn commented on #183
The sort buttons get an error saying there is no action handler for sortBy.

This is the action handler in the relevant controller:
[code]
This same code used to be in the button's component js, but was underscored out and then removed at some point:
[code]
The button itself is coded like `{{action @sortBy @key}}`, and I'm not sure how to get it to call the action in the controller rather than the

[2020-05-21 19:06] #183 closed

[2020-05-21 19:08] kategengler commented on #183
@noahthorn Thanks for looking into this. It looks like this functionality was broken when removing the use of a deprecated Ember API, `sendAction`. The arguments passed to the `SortOption` component for `@sortBy` were strings, which worked with `sendAction` but didn't work when it was modified. As you can see in the fix from @pgengler, passing the controller's action down into the component solved

[2020-06-09 10:04] patocallaghan opened #187 "Show Embroider compat in Addon details"
This may be early days for this yet but worth considering. As there is now a [plan for addons and how they can be compatible with Embroider](https://github.com/embroider-build/embroider/blob/master/ADDON-AUTHOR-GUIDE.md#big-picture) would it be worth adding their Embroider compat level to addon's sidebar?

| Support level            | Format |
| ------------------------ | :----: |
| Embroider Safe

[2020-06-09 14:30] kategengler commented on #187
Hi @patocallaghan, I've been talking about this with @ef4 since the early days of Embroider.

Ember Observer has the capability to do both static (in the form of anything that can be written as an eslint rule) and dynamic (in the form of anything that can be expressed as an ember-try scenario) checks.

Unfortunately, it's a bit tricky to test addons for this capability (vs Ember version compatibil

[2020-06-10 10:36] patocallaghan commented on #187
That makes sense 👍  and I imagine we can't really just make those modifications ourselves in an ember try run because technically they could be doing anything in there?

Is there another option where we let addon authors specify their own compatibility using some keywords somewhere? possibly in the package.json?

[2020-08-28 01:19] SYU15 opened #192 "Refactor away from explicit file paths for bourbon/neat"
I recently ran into an issue pulling this repo in as a git submodule in for `ember-debug`. The explicit filepaths for bourbon (ex. `node_modules/bourbon/app/assets/stylesheets/_bourbon`) do not play nicely with our yarn workspace setup since the `bourbon` package is added in the root directory of the yarn workspace and not at the `ember-observer` level.

Not sure if a solution is to add/possibly u

[2020-10-06 17:52] MinThaMie opened #196 "Remove deprecated favicons"
https://www.emergeinteractive.com/insights/detail/the-essentials-of-favicons/

[2020-10-10 13:55] #196 closed

[2021-02-27 15:25] pgengler opened #209 "Use ember-test-selectors instead of `test-` CSS class names"
We're currently using a bunch of `test-`-prefixed CSS class names as selectors in tests; these should be replaced with `data-test-` attributes and the [ember-test-selectors](https://emberobserver.com/addons/ember-test-selectors) addon.

[2021-03-23 12:56] #146 closed

[2021-10-13 10:36] ncoquelet opened #227 "Check if typescript declaration is available for an addon ?"
Hi,
It will be cool if the emberobserver score takes into account of the typescript declaration availability.
And have a link to the dependencies that provides this declaration, like npmjs.com (https://www.npmjs.com/package/ember, right to the package name)

I have the sentiment that typescript is used more and more in ember projets, and emberobserver can enforce the typescript adoption to addons

[2022-03-23 14:32] naamanu commented on #209
hi @pgengler i can take this up